[submodule "pkg/ai-client"]
	path = pkg/ai-client
	url = git@github.com:tokenring-ai/ai-client
	branch = origin/main
[submodule "pkg/aws"]
	path = pkg/aws
	url = git@github.com:tokenring-ai/aws
	branch = origin/main
[submodule "pkg/chat"]
	path = pkg/agent
	url = git@github.com:tokenring-ai/agent.git
	branch = origin/main
[submodule "pkg/chrome"]
	path = pkg/chrome
	url = git@github.com:tokenring-ai/chrome
	branch = origin/main
[submodule "pkg/cli"]
	path = pkg/cli
	url = git@github.com:tokenring-ai/cli
	branch = origin/main
[submodule "pkg/code-watch"]
	path = pkg/code-watch
	url = git@github.com:tokenring-ai/code-watch
	branch = origin/main
[submodule "pkg/codebase"]
	path = pkg/codebase
	url = git@github.com:tokenring-ai/codebase
	branch = origin/main
[submodule "pkg/database"]
	path = pkg/database
	url = git@github.com:tokenring-ai/database
	branch = origin/main
[submodule "pkg/docker"]
	path = pkg/docker
	url = git@github.com:tokenring-ai/docker
	branch = origin/main
[submodule "pkg/eslint-config"]
	path = pkg/eslint-config
	url = git@github.com:tokenring-ai/eslint-config
	branch = origin/main
[submodule "pkg/feedback"]
	path = pkg/feedback
	url = git@github.com:tokenring-ai/feedback
	branch = origin/main
[submodule "pkg/file-index"]
	path = pkg/file-index
	url = git@github.com:tokenring-ai/file-index
	branch = origin/main
[submodule "pkg/filesystem"]
	path = pkg/filesystem
	url = git@github.com:tokenring-ai/filesystem
	branch = origin/main
[submodule "pkg/git"]
	path = pkg/git
	url = git@github.com:tokenring-ai/git
	branch = origin/main
[submodule "pkg/javascript"]
	path = pkg/javascript
	url = git@github.com:tokenring-ai/javascript
	branch = origin/main
[submodule "pkg/kubernetes"]
	path = pkg/kubernetes
	url = git@github.com:tokenring-ai/kubernetes
	branch = origin/main
[submodule "pkg/local-filesystem"]
	path = pkg/local-filesystem
	url = git@github.com:tokenring-ai/local-filesystem
	branch = origin/main
[submodule "pkg/memory"]
	path = pkg/memory
	url = git@github.com:tokenring-ai/memory
	branch = origin/main
[submodule "pkg/queue"]
	path = pkg/queue
	url = git@github.com:tokenring-ai/queue
	branch = origin/main
[submodule "pkg/registry"]
	path = pkg/registry
	url = git@github.com:tokenring-ai/registry
	branch = origin/main
[submodule "pkg/repo-map"]
	path = pkg/repo-map
	url = git@github.com:tokenring-ai/repo-map
	branch = origin/main
[submodule "pkg/sqlite-storage"]
	path = pkg/sqlite-storage
	url = git@github.com:tokenring-ai/sqlite-storage
	branch = origin/main
[submodule "pkg/testing"]
	path = pkg/testing
	url = git@github.com:tokenring-ai/testing
	branch = origin/main
[submodule "pkg/utility"]
	path = pkg/utility
	url = git@github.com:tokenring-ai/utility.git
	branch = origin/main
[submodule "pkg/inquirer-tree-selector"]
	path = pkg/inquirer-tree-selector
	url = git@github.com:tokenring-ai/inquirer-tree-selector.git
	branch = origin/main
[submodule "pkg/inquirer-command-prompt"]
	path = pkg/inquirer-command-prompt
	url = git@github.com:tokenring-ai/inquirer-command-prompt.git
	branch = main
[submodule "pkg/agent"]
	path = pkg/agent2
	url = git@github.com:tokenring-ai/agent.git
	branch = main
[submodule "pkg/serper"]
	path = pkg/serper
	url = git@github.com:tokenring-ai/serper.git
[submodule "pkg/scraperapi"]
	path = pkg/scraperapi
	url = git@github.com:tokenring-ai/scraperapi.git
[submodule "pkg/websearch"]
	path = pkg/websearch
	url = git@github.com:tokenring-ai/websearch.git
	branch = main
[submodule "pkg/wikipedia"]
	path = pkg/wikipedia
	url = git@github.com:tokenring-ai/wikipedia.git
	branch = main
[submodule "pkg/mysql"]
	path = pkg/mysql
	url = git@github.com:tokenring-ai/mysql.git
[submodule "pkg/sandbox"]
	path = pkg/sandbox
	url = git@github.com:tokenring-ai/sandbox.git
	branch = main
[submodule "pkg/s3"]
	path = pkg/s3
	url = git@github.com:tokenring-ai/s3.git
	branch = main
[submodule "pkg/cdn"]
	path = pkg/cdn
	url = git@github.com:tokenring-ai/cdn.git
	branch = main
